*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  font-size: 1.5rem;
  background-color: #f3f3f3;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #222;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 50;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.sticky {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
}

.hide-nav-bar {
  right: -35rem !important;
}

.show-nav-bar {
  right: 0 !important;
}

.ladder {
  transform: translateY(-10%) !important;
}

.section {
  transition: all 1s ease;
}

.aoseffect {
  opacity: 0;
  transform: translateY(20rem);
}

.nav {
  padding: 1.7rem 0;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logos {
  width: 15rem;
}
.nav__logo {
  width: 100%;
}
.nav__right {
  font-size: 1.8rem;
}
.nav__menus {
  display: flex;
  align-items: center;
}
.nav__sign-up {
  display: none;
}
@media (min-width: 786px) {
  .nav__sign-up {
    padding: 0.8rem 2.5rem;
    background-color: #5ec576;
    border-radius: 3rem;
    display: block;
  }
}
.nav__list {
  display: none;
  transition: all 0.3s linear;
}
@media (min-width: 786px) {
  .nav__list {
    margin-right: 3rem;
    display: block;
  }
}
.nav-bar__menus {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -30rem;
  width: 30rem;
  background-color: #ebebc6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  gap: 2rem;
  transition: all 180ms ease;
  z-index: 9999;
}
.nav-bar__icon-bars {
  font-size: 3rem;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 786px) {
  .nav-bar__icon-bars {
    display: none;
  }
}
.nav-bar__cancel {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
}

.header__hero {
  padding-bottom: 10rem;
  border-bottom: 0.1rem solid #c9c9c9;
}
.header__bankist--wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}
@media (min-width: 768px) {
  .header__bankist--wrapper {
    grid-template-columns: 3fr 2fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.header__title {
  font-size: 4rem;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 4.7rem;
  }
}
@media (min-width: 992px) {
  .header__title {
    font-size: 5.5rem;
  }
}
.header__title-break {
  position: relative;
}
.header__title-break::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  z-index: -1;
  transform: scale(1.07, 1.05) skewX(-15deg);
}
.header__subtitle {
  font-size: 2rem;
  font-weight: bold;
}
.header__link {
  border-bottom: 0.1rem solid #5ec576;
  padding-bottom: 0.2rem;
  color: #5ec576;
  font-size: 1.7rem;
  margin-top: 3rem;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
.header__bankist--pic {
  width: 100%;
}

.feature {
  padding: 10rem 0;
  border-bottom: 0.1rem solid #c9c9c9;
}
.feature__title {
  font-weight: bold;
}
.feature__desc {
  margin-top: 2rem;
}
.feature__boxs--wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin: 4rem 0;
}
@media (min-width: 768px) {
  .feature__boxs--wrapper {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.feature__images {
  align-self: end;
}
.feature__image {
  width: 100%;
}
.feature__datas {
  align-self: center;
  justify-self: center;
  width: 70%;
}
.feature__datas--circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(94, 197, 118, 0.2274509804);
}
.feature__datas--title {
  margin: 1rem 0;
}
.feature__datas--desc {
  font-size: 1.7rem;
}

.operation {
  margin: 10rem 0;
  border-bottom: 0.1rem solid #c9c9c9;
}
.operation__header {
  font-weight: bold;
  color: #5ec576;
  font-size: 1.8rem;
}
.operation__title {
  font-size: 3rem;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .operation__title {
    font-size: 5rem;
  }
}
.operation__article--wrapper {
  background: #fff;
  margin: 10rem 4rem;
  padding: 2rem 1rem;
}
.operation__btns {
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media (min-width: 576px) {
  .operation__btns {
    transform: translateY(-90%);
  }
}
.operation__btn {
  all: unset;
  border: none;
  outline: none;
  max-width: 20rem;
  padding: 0.8rem 1.5rem;
  color: #000;
  font-size: 1.6rem;
  text-align: center;
  flex-grow: 1;
  border-radius: 3.5rem;
  cursor: pointer;
  font-weight: bold;
}
.success-btn {
  background: #5ec576;
}

.danger-btn {
  background-color: #fd424b;
}

.yellow-btn {
  background-color: #ffcb03;
}

.operation__circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 88, 96, 0.1764705882);
  position: absolute;
  left: 4.5rem;
}
.operation__article--title {
  font-size: 1.8rem;
  padding: 2rem 0;
}
.operation__article--desc {
  font-size: 1.5rem;
  padding-bottom: 4rem;
}

.finance {
  padding-bottom: 5rem;
}
.finance__title {
  font-weight: bold;
  color: #5ec576;
}
.finance__header {
  font-size: 2.5rem;
}
.finance__sliders {
  position: relative;
  margin-top: 3rem;
  height: 50rem;
  overflow: hidden;
}
@media (min-width: 576px) {
  .finance__sliders {
    height: 48rem;
  }
}
@media (min-width: 786px) {
  .finance__sliders {
    height: 44rem;
  }
}
.finance__slider {
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}
.finance__slider--testimonial {
  width: 65%;
  margin-inline: auto;
  padding: 5rem 1rem;
}
.finance__slider--header {
  font-weight: bold;
  color: #ff585f;
}
.finance__slider--desc {
  font-size: 1.4rem;
}
@media (min-width: 576px) {
  .finance__slider--desc {
    font-size: 1.8rem;
  }
}
.finance__users {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.finance__user--images {
  width: 6rem;
  height: 6rem;
}
.finance__user--image {
  width: 100%;
  border-radius: 50%;
}
.finance__btn-left, .finance__btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}
.finance__btn-left:hover, .finance__btn-right:hover {
  transition: all 180ms ease;
  background: rgba(0, 0, 0, 0.6666666667);
  color: #fff;
}
.finance__btn-right {
  right: 0;
}
@media (min-width: 576px) {
  .finance__btn-right {
    right: 2%;
  }
}
.finance__btn-left {
  left: 0;
}
@media (min-width: 576px) {
  .finance__btn-left {
    left: 2%;
  }
}
.dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

.footer {
  background-color: #37383d;
  color: #fff;
}
.footer__advertise {
  padding: 9rem 0;
  border-bottom: 0.1rem solid #fff;
}
.footer__advertise--title {
  text-align: center;
  line-height: 1.5;
  margin: 2rem auto;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .footer__advertise--title {
    max-width: 67rem;
  }
}
.footer__advertise--sign-up {
  font-size: 1.8rem;
  padding: 1rem;
  background: #5ec576;
  display: block;
  margin-inline: auto;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
@media (min-width: 768px) {
  .footer__advertise--sign-up {
    padding: 2rem;
    font-size: 2.5rem;
  }
}
.footer__medias {
  padding: 2rem 0;
}
.footer__menus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer__list {
  padding: 0.5rem;
}
.footer__logos {
  text-align: center;
  margin: 3rem 0;
}/*# sourceMappingURL=main.css.map */